<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{title}}&nbsp;</span>
    <span>
      <a *ngIf="authenticatedUser.admin" routerLink="/user/create"><img id='createnew' width='20' height='20' src='../../../../assets/add-icon.png'
          title='Add New'></a>
    </span>
  </div>
</div>
<p *ngIf="!users">Loading ...</p>
<div *ngIf="users">
  <div class="tbl-header" style="overflow: auto">
    <table class="table-dark" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <th><a class="btn font-weight-bold" (click)="sortBy('userName')">USERNAME</a></th>
        <th><a class="btn font-weight-bold" (click)="sortBy('firstName')">FIRST</a></th>
        <th><a class="btn font-weight-bold" (click)="sortBy('lastName')">LAST</a></th>
        <th><a class="btn font-weight-bold" (click)="sortBy('phoneNumber')">PHONE</a></th>
        <th><a class="btn font-weight-bold" (click)="sortBy('email')">EMAIL</a></th>
        <th><a class="btn font-weight-bold disabled" disabled>PRIVILEGE</a></th>
        <th><a class="btn font-weight-bold disabled" disabled>ACTION</a></th>
      </thead>
    </table>
  </div>
  <div class="tbl-content" cellpadding="0" cellspacing="0" border="0">
    <table class="table-active table-bordered">
      <tbody>
        <tr *ngFor="let user of users | sort:sortColumn:sortOrder">
          <td>{{user.userName}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.email}}</td>
          <td>{{user.reviewer?"Rvw":""}} {{user.admin?"Admin":""}}</td>
          <td class="actions">
            <a routerLink='/user/detail/{{user.id}}'><img width=20 height=20
                src="../../../../assets/details.png"></a>&nbsp;
            <a *ngIf="authenticatedUser.admin || authenticatedUser.id == user.id" routerLink='/user/edit/{{user.id}}'><img width=20 height=20 src="../../../../assets/pencil-icon.png"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>