<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{title}}&nbsp;</span>
    <span>
      <a><img id='createnew' width='20' height='20' src='../../../../assets/add-icon.png' title='Add New'></a>
    </span>
  </div>
</div>
<p *ngIf="!prli">Loading ...</p>
<table *ngIf="prli" class="table table-sm">
  <thead class="thead-dark">
    <th class="table-secondary btn-link"><a class="btn font-weight-bold">ID</a></th>
    <th class="table-secondary btn-link"><a class="btn font-weight-bold">PURCHASE REQUEST</a></th>
    <th class="table-secondary btn-link"><a class="btn font-weight-bold">PRODUCT</a></th>
    <th class="table-secondary btn-link"><a class="btn font-weight-bold">QUANTITY</a></th>
  </thead>
  <tbody class="table-hover table-bordered">
    <tr *ngFor="let prli of prli">
      <td>{{prli.id}}</td>
      <td>{{prli.purchaseRequest.description}}</td>
      <td>{{prli.product.name}}</td>
      <td>{{prli.quantity}}</td>
    </tr>
  </tbody>
</table>