/* You can add global styles to this file, and also import other style files */

body {
    background-color: white;
    position: relative;
}

span {
    font-size: 15pt;
}

table {
    max-width: 99%;
    margin: auto;
}

thead th {
    text-shadow: 2px 2px #000000;
    text-align: left;
}

a:hover {
    cursor: pointer;
}

a:hover .disabled {
    cursor: auto;
}

a {
    text-decoration: none;
}

.input-icon {
    position: relative;
}

.input-icon>i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon>input {
    padding-left: 25px;
    padding-right: 0;
}

.input-icon-right>i {
    right: 0;
}

.input-icon-right>input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    width: 1300px;
    margin: 0;
    padding: 0;
}

.tbl-content {
    width: 1300px;
    height: 420px;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

th {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 0;
    border-width: 0;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
}

::-webkit-scrollbar {
    display: none;
}

*, ::after, ::before {
    box-sizing: content-box;
}