/* You can add global styles to this file, and also import other style files */

html, body {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding: 0;
    height: 100%;
    background-color: white;
    position: relative;
}

span {
    font-size: 15pt;
}

footer {
    width: 100%;
    /* Height of the footer */
    background: transparent;
}

small {
    display: none;
}

table {
    max-width: 99%;
    margin: auto;
}

thead th {
    text-shadow: 2px 2px #000000;
    text-align: left;
}

.component-content {
    margin-left: 10px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.input-icon {
    position: relative;
}

.input-icon>i {
    position: absolute;
    display: block;
    transform: translate(-15px, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon>input {
    transform: translate(-15px, 0);
    padding-left: 25px;
    padding-right: 0;
}

.input-icon-right>i {
    right: 0;
}

.input-icon-right>input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}

table {
    width: 100%;
    table-layout: fixed;
}

.table {
    height: 70%;
    margin-bottom: 10px;
    margin: auto;
}

.tbl-header {
    width: 1300px;
    margin: auto;
    padding: 0;
}

.tbl-content {
    width: 1300px;
    height: 100%;
    overflow-x: auto;
    margin: auto;
    margin-bottom: 10px;
    padding: 0;
}

th {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    text-transform: uppercase;
    margin: 0;
    border-width: 0;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
}

::-webkit-scrollbar {
    display: none;
}

*, ::after, ::before {
    box-sizing: content-box;
}

nav {
    overflow: hidden;
    background-color: #333;
}

.sidenav {
    overflow: hidden;
    border: 2px transparent solid;
    display: inline;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100vw;
    /* Full width */
    z-index: 1000;
}

.sidenav a {
    float: left;
    text-decoration: none;
    border: 1px transparent solid;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidenav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.create-new a:hover {
    border: none !important;
}

.actions a:hover {
    border: none !important;
}

a:hover {
    cursor: pointer;
    background-color: inherit;
    border: 1px white solid;
}

a:hover .disabled {
    cursor: auto;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 578px) {
    body {
        margin-top: 80px;
    }
}