<app-menu></app-menu>
<div class='component-content'>

  <div class='lefthalf'>
    <span class='component-title'>{{title}}</span>
  </div>

  <table class="table table-sm" *ngIf='pr'>
    <tr>
      <td>Id</td>
      <td>{{ pr.id}}</td>
    </tr>
    <tr>
      <td>User</td>
      <td>{{ pr.user.userName }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ pr.description }}</td>
    </tr>
    <tr>
      <td>Justification</td>
      <td>{{ pr.justification }}</td>
    </tr>
    <tr>
      <td>Date needed</td>
      <td>{{ pr.dateNeeded }}</td>
    </tr>
    <tr>
      <td>Delivery mode</td>
      <td>{{ pr.deliveryMode }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ pr.status }}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>${{ pr.total }}</td>
    </tr>
    <tr>
      <td>Submitted date</td>
      <td>{{pr.submittedDate}}</td>
    </tr>
    <tr>
      <p *ngIf="!lineItems">Loading ...</p>

      <div *ngIf="lineItems">
        <div *ngIf="lineItems.length > 0">
          <div class="tbl-header" style="overflow: auto">
            <table class="table-dark table-sm" cellpadding="0" cellspacing="0" border="0">
              <thead>
                <th><a class="btn font-weight-bold">PRODUCT</a></th>
                <th><a class="btn font-weight-bold">PRICE</a></th>
                <th><a class="btn font-weight-bold">QUANTITY</a></th>
                <th><a class="btn font-weight-bold">TOTAL</a></th>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table class="table-active table-bordered table-sm" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr *ngFor='let lineItem of lineItems'>
                  <td>{{lineItem.product.name}}</td>
                  <td>{{lineItem.product.price | currency}}</td>
                  <td>{{lineItem.quantity}}</td>
                  <td>{{lineItem.quantity * lineItem.product.price | currency}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        
      </div>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="approve()" class='btn btn-primary' title='Approve'>Approve</button>&nbsp;
        <button (click)="reject()" class='btn btn-danger' title='Reject'>Reject</button>
      </td>
    </tr>
  </table>
  <div *ngIf="rejected">
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="pr">Reason For Rejection:</label>
      <input [(ngModel)]='pr.reasonForRejection' name='ReasonForRejection' type="text" class="form-control col-sm-6"
        id="prReasonForRejection" aria-describedby="rejectHelp">
      <small id="rejectHelp" class="form-text text-muted col-sm-2">Why is this being rejected</small>
    </div>
    <button (click)="sendReject()" class='btn btn-danger' title='Reject'>Send Rejection</button>
  </div>
</div>